@import "tailwindcss";

body {
  background: #F8F9FA;
  color: #2D2D2D;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

.hero-bus {
  position: absolute !important;
  bottom: 5px !important;
  width: 360px !important;
  height: 80px !important;
  object-fit: contain !important;
  z-index: 9 !important;
  filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.5));
  animation: busDrive 11s linear infinite ;
}


/* এখন CSS এ আছে — উল্টো! */
@keyframes busDrive {
  0%   { left: 105%; }    /* right থেকে শুরু */
  100% { left: -380px; }  /* left এ শেষ */
}

.road-dash {
  position: absolute;
  top: 50%;
  left: 0;
  width: 200%;
  height: 5px;
  margin-top: -2.5px;
  background: repeating-linear-gradient(
    to right,
    rgba(255,255,255,0.8) 0px, rgba(255,255,255,0.8) 55px,
    transparent 55px, transparent 110px
  );
  animation: dashMove 2.5s linear infinite;
}

@keyframes dashMove {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-110px); }
}

@keyframes float {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-18px); }
  100% { transform: translateY(0px); }
}