@import "tailwindcss";

body {
  background: #F8F9FA;
  color: #2D2D2D;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes moveBus {
  0% { left: 110%; }
  100% { left: -500px; }
}

.bus-animate {
  position: absolute;
  bottom: 30px;
  width: 400px;
  animation: moveBus 10s linear infinite;
}
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}